@use "../../assets/styles/fonts.scss" as *;
@use "../../assets/styles/variables.scss" as *;

.wrapper {
  position: relative;
  height: fit-content;
  height: 55vw;
  width: 100%;
  background-image: url(../../assets/imgs/sfx-background.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.text {
  padding: 2vw 3vw;
  background-color: rgba(0, 0, 0, 0.198);
  position: absolute;
  bottom: 20px;
  right: 30px;
  width: 45vw;
  @include learnMore();
}
