@use "../../assets/styles/fonts.scss" as *;
@use "../../assets/styles/variables.scss" as *;

.wrapper {
  position: relative;
  height: fit-content;
  height: 55vw;
  width: 100%;
  background-image: url(../../assets/imgs/sfx-background.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.text {
  position: absolute;
  bottom: 40px;
  right: 30px;
  width: 45vw;
  @include aboutUs();
  font-size: 1.7vw;
}
