@use "../../assets/styles/fonts.scss" as *;
@use "../../assets/styles/variables.scss" as *;

.socials {
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: $mainDark;
  padding: 50px 40px;
  @include socials();
}
.contacts__text {
  @include fontTitle2();
}
.contacts__links {
  padding: 0 2vw;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.contacts__link {
  color: $mainWhite;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5px;
}
.contacts__phones {
  width: 40%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.contacts__number {
  color: $mainWhite;
}

.contacts__img {
  width: 30px;
}
